body {
    text-align: center !important;
    font-family: "Courier New", monospace !important;
    cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym53.ani),
            url(https://cur.cursors-4u.net/symbols/sym-1/sym53.png),
            auto !important;
}   

.container {
    max-width: none !important;
    background-image: url('https://cdn.pixabay.com/animation/2023/07/13/14/22/14-22-36-485_512.gif'); !important;
}

.avatar-container .Player-username, .avatar-container .Player .Player-rank {
    color: #FFAFB0 !important;
    font-size: 25px !important;
}

span.player-name, span.player-rank {
    color: #FFAFB0 !important;
    font-size: 16px !important;
}​

span.Clock.black.mini-goban, span.Clock.white.mini-goban {
    color: #FFAFB0 !important;
    font-size: 16px !important;
}

span.score {
    color: #FFAFB0 !important;
}

h1, h2, h4 {
    color: #FFAFB0 !important;
    font-size: 25px !important;
}

h3 {
    color: #FFAFB0 !important;
    font-size: 25pt !important;
}

/*library results*/
.library-won-result-vs-stronger{  background-color: RGBA( 255, 182, 193, 1 ) !important; color:black !important;}
.library-won-result-vs-weaker{  background-color: RGBA( 255, 160, 122, 1 ) !important; color:black !important;}
.library-lost-result-vs-weaker {  background-color: RGBA( 32, 178, 170, 1 ) !important; color:black !important;}
.library-lost-result-vs-stronger{  background-color: RGBA( 135, 206, 250, 1 ) !important; color:black !important;}

/* the game history table*/
.library-lost-result-unranked {  color: RGBA( 255, 182, 193, 1 ) !important;}
.library-won-result-unranked { color: RGBA( 32, 178, 170, 1 ) !important;}

/*clean up the menu*/
a[href="/leaderboards"] {
    display: none !important;
}
