body {
    text-align: center;
    font-family: "Comic Sans MS", fantasy;
}   

.container {
    max-width: none !important;
    background-image: url('https://cdn.discordapp.com/attachments/1170248756717948991/1189180970851635210/8ee766290ebaa2cfdb4691e2bab1b737.jpg?ex=659d3a15&is=658ac515&hm=25ed346a60490df4b95ba6997b8df5c4040e4cc13e17b4387c846c8617da2f47&'); !important;
}

.avatar-container .Player-username, .avatar-container .Player .Player-rank {
    color: #FFAFB0;
    font-size: 25px;
}

span.player-name, span.player-rank {
    color: #FFAFB0;
    font-size: 16px;
}​

span.Clock.black.mini-goban, span.Clock.white.mini-goban {
    color: #FFAFB0;
    font-size: 16px;
}

span.score {
    color: #FFAFB0;
}

h1, h2, h4 {
    color: #FFAFB0;
    font-size: 25px;
}

h3 {
    color: #FFAFB0;
    font-size: 25pt;
}

/*library results*/
.library-won-result-vs-stronger{  background-color: RGBA( 255, 182, 193, 1 ) !important; color:black !important;}
.library-won-result-vs-weaker{  background-color: RGBA( 255, 160, 122, 1 ) !important; color:black !important;}
.library-lost-result-vs-weaker {  background-color: RGBA( 32, 178, 170, 1 ) !important; color:black !important;}
.library-lost-result-vs-stronger{  background-color: RGBA( 135, 206, 250, 1 ) !important; color:black !important;}

/* the game history table*/
.library-lost-result-unranked {  color: RGBA( 255, 182, 193, 1 ) !important;}
.library-won-result-unranked { color: RGBA( 32, 178, 170, 1 ) !important;}

/*clean up the menu*/
a[href="/leaderboards"] {
    display: none !important;
}
