body {
    text-align: center;
    font-family: "Comic Sans MS", fantasy;
}   

.container {
    max-width: none !important;
    background-image: url('https://cdn.discordapp.com/attachments/1170248756717948991/1189180319228768277/30ac7718650df70699f18727480459a0.jpg?ex=659d397a&is=658ac47a&hm=4b675a6427d87f701b5617659b11c24181c7a52648306870b1386330e6a7f670&'); !important;
}

.avatar-container .Player-username, .avatar-container .Player .Player-rank {
    color: #FFAFB0;
    font-size: 25px;
}

span.player-name, span.player-rank {
    color: #FFAFB0;
    font-size: 16px;
}​

span.Clock.black.mini-goban, span.Clock.white.mini-goban {
    color: #FFAFB0;
    font-size: 16px;
}

span.score {
    color: #FFAFB0;
}

h1, h2, h4 {
    color: #FFAFB0;
    font-size: 25px;
}

h3 {
    color: #FFAFB0;
    font-size: 25pt;
}

/*library results*/
.library-won-result-vs-stronger{  background-color: RGBA( 255, 182, 193, 1 ) !important; color:black !important;}
.library-won-result-vs-weaker{  background-color: RGBA( 255, 160, 122, 1 ) !important; color:black !important;}
.library-lost-result-vs-weaker {  background-color: RGBA( 32, 178, 170, 1 ) !important; color:black !important;}
.library-lost-result-vs-stronger{  background-color: RGBA( 135, 206, 250, 1 ) !important; color:black !important;}

/* the game history table*/
.library-lost-result-unranked {  color: RGBA( 255, 182, 193, 1 ) !important;}
.library-won-result-unranked { color: RGBA( 32, 178, 170, 1 ) !important;}

/*clean up the menu*/
a[href="/leaderboards"] {
    display: none !important;
}
