.avatar-container .Player-username {
    font-size: 2em;
}
.container {
  max-width: none !important;
  background-image: url('https://cdn.discordapp.com/attachments/1090641433330995282/1090643365177069568/UN-4.png');
}
