body {
    text-align: center;
    font-family: "Comic Sans MS", fantasy;
}   

.container {
    max-width: none !important;
    background-image: url('https://cdn.discordapp.com/attachments/880712138883227688/1191725683530022932/123986842.jpg?ex=65a67c08&is=65940708&hm=23e902c58a2041465ad76b9eae9f755d4f7af554a5bb635793bc4ac419a30e1c&'); !important;
}

/*fonts and colors*/
.avatar-container .Player-username, .avatar-container .Player .Player-rank {
    color: #FFAFB0;
    font-size: 25px;
}

.ratings-container{
  background-color: #696969;
  padding: 10px;
  opacity: 0.7;
}

.PaginatedTable.game-history-table.clickable-rows{
  background-color: #696969;
}

.PaginatedTable.review-history-table.clickable-rows{
  background-color: #696969;
}

span.player-name, span.player-rank {
    color: #FFAFB0;
    font-size: 16px;
}​

span.Clock.black.mini-goban, span.Clock.white.mini-goban {
    color: #FFAFB0;
    font-size: 16px;
}

span.score {
    color: #FFAFB0;
}

h1, h2, h4 {
    color: #FFAFB0;
    font-size: 25px;
}

h3 {
    color: #FFAFB0;
    font-size: 25pt;
}

/*library results*/
.library-won-result-vs-stronger{  background-color: RGBA( 255, 182, 193, 1 ) !important; color:black !important;}
.library-won-result-vs-weaker{  background-color: RGBA( 255, 160, 122, 1 ) !important; color:black !important;}
.library-lost-result-vs-weaker {  background-color: RGBA( 32, 178, 170, 1 ) !important; color:black !important;}
.library-lost-result-vs-stronger{  background-color: RGBA( 135, 206, 250, 1 ) !important; color:black !important;}

/* the game history table*/
.library-lost-result-unranked {  color: RGBA( 255, 182, 193, 1 ) !important;}
.library-won-result-unranked { color: RGBA( 32, 178, 170, 1 ) !important;}

/*clean up the menu*/
a[href="/leaderboards"] {
    display: none !important;
}
