.ratings-row {

  display:none !important;

}

.container {

  max-width: none !important;

background-image: url('https://raw.githubusercontent.com/FanaroEngineering/fanaro_sabaki_theme_collection/master/screenshots/bluish_purple.png');

}

.avatar-container .Player-username {

color: #d78cdb;

font-size: 1.5em;

font-family:'Lucida Handwriting';  

}

.avatar-container .Player-rank {

color: #d78cdb;

font-size: 2.5em;

}

.User .ratings-title {

color: #FF0000;

}

body.dark .TurnIndicator .count {

color: #FF0000;

}

.MiniGoban .player-name {

    color: #FF0000;

font-family:'Lucida Handwriting';

}

.MiniGoban .player-rank {

    color: #FF0000;

}

.MiniGoban .title-black .score {

    color: #FF0000;

}

.MiniGoban .title-white .score {

    color: #FF0000;

}

.user_info {

    color: #FF0000;

 font-family:'Lucida Handwriting'; 

}

.date {

    color: #FF0000;

}

.Player-username {

    color: #FF0000;

font-family:'Lucida Handwriting';

}

.board_size {

    color: #FF0000;

}

.game_name {

    color: #FF0000;

font-family:'Lucida Handwriting';

}

.main-content {

    color: #FF0000;

}

.Clock {

  color: #FF0000;

}

.Player-rank {

    color: #FF0000;

}

h2, h3 {

    animation:rainbowText 2s infinite;

}

@keyframes rainbowText{

    0%   {  color: #FF0900; }

    17%  {  color: #FF7F00; }

    33%  {  color: #FFEF00; }

    50%  {  color: #00F11D; }

    67%  {  color: #0079FF; }

    83%  {  color: #A800FF; }

    100% {  color: #FF0900; }

}

.about-container h1 {

    animation:blinkingText 1.5s infinite;

}

@keyframes blinkingText{

    0%   {  opacity: 1; }

    49%  {  opacity: 1; }

    60%  {  opacity: 0; }

    99%  {  opacity: 0; }

    100% {  opacity: 1; }

}
.about-container h3 {

    animation:blinkingText 1.5s infinite;

}

@keyframes blinkingText{

    0%   {  opacity: 1; }

    49%  {  opacity: 1; }

    60%  {  opacity: 0; }

    99%  {  opacity: 0; }

    100% {  opacity: 1; }

}

/* IMAGE */

.image {

width: 20%;

border-radius: 20px;

margin-left: auto;

margin-right: auto;

}

.images {

 width: 7%;

margin-left: auto;

margin-right: auto;

border-radius: 40px;

}
