.ratings-row {
  display:none !important;
}
.container {
  max-width: none !important;
  background-image: url('https://cdn.discordapp.com/attachments/880712138883227688/1102156339582611508/snowfall-6786475_960_720.webp');
}
h1 {
 color:#FF0000;
}

h2 {
 color:#FF0000;
}

h3 {
   color: #FF0000;
  }

h4{
   color: #FF0000;
}

.ratings-container{
	color: #FF0000;
}

.rating-entry {
    color: #FF0000;
}


.avatar-container .Player-username {
  color: #d78cdb;
}

.avatar-container .Player-rank {
    color: #d78cdb;
}

.active-games{
  color: #FF0000;
}

.move-number{
  color: #FF0000;
}

.game-name{
  color: #FF0000;
}

.Clock {
  color: #FF0000;
}

.size {
  color: #FF0000;
}

.Player-username {
  color: #FF0000;
}

.Player-rank {
  color: #FF0000;
}

.game_name {
  color: #FF0000;
}

.board_size {
  color: #FF0000;
}

.date {
  color: #FF0000;
}

.user_info {
  color: #FF0000;
}

.sortable {
  color: #FF0000;
}
