.ratings-row {
  display:none !important;
}

.container {
  max-width: none !important;
background-image: url('https://raw.githubusercontent.com/FanaroEngineering/fanaro_sabaki_theme_collection/master/screenshots/fire_and_ice.png');
}

.avatar-container .Player-username {
color: #d78cdb;
font-size: 2.5em;
font-family:'Bradley Hand ITC';  
}

.avatar-container .Player-rank {
color: #d78cdb;
font-size: 2.5em;
}

.User .ratings-title {
color: #FF0000;
}

body.dark .TurnIndicator .count {
color: #FF0000;
}

h1 {
   color: #FF0000;
font-family:'Bradley Hand ITC';
  }

h2 {
    color: #FF0000;
font-family:'Bradley Hand ITC'; 
}

h3 {
   color: #FF0000;
   font-family:'Bradley Hand ITC';
}

h4 {
   color: #FF0000;
font-family:'Bradley Hand ITC';
}

.MiniGoban .player-name {
    color: #FF0000;
font-family:'Bradley Hand ITC';
}

.MiniGoban .player-rank {
    color: #FF0000;
}

.MiniGoban .title-black .score {
    color: #FF0000;
}

.MiniGoban .title-white .score {
    color: #FF0000;
}

.user_info {
    color: #FF0000;
 font-family:'Bradley Hand ITC'; 
}

.date {
    color: #FF0000;
}

.Player-username {
    color: #FF0000;
font-family:'Bradley Hand ITC';
}

.board_size {
    color: #FF0000;
}

.game_name {
    color: #FF0000;
font-family:'Bradley Hand ITC';
}

.main-content {
    color: #FF0000;
}

.Clock {
  color: #FF0000;
}


.Player-rank {
    color: #FF0000;
}
