.ratings-row {

  display:none !important;

}

.container {

  max-width: none !important;

background-image: url('https://raw.githubusercontent.com/FanaroEngineering/fanaro_sabaki_theme_collection/master/screenshots/bluish_purple.png');

}

.avatar-container .Player-username {

font-size: 1.5em;

font-family:'Lucida Handwriting';  

color: #FF0000;​

}

.avatar-container .Player-rank {

font-size: 2.5em;

Color​: #FF0000​;

}

.User .ratings-title {

color: #FF0000;

}

body.dark .TurnIndicator .count {

color: #FF0000;

}

.MiniGoban .player-name {

    color: #FF0000;

font-family:'Lucida Handwriting';

}

.MiniGoban .player-rank {

    color: #FF0000;

}

.MiniGoban .title-black .score {

    color: #FF0000;

}

.MiniGoban .title-white .score {

    color: #FF0000;

}

.user_info {

    color: #FF0000;

 font-family:'Lucida Handwriting'; 

}

.date {

    color: #FF0000;

}

.Player-username {

    color: #FF0000;

font-family:'Lucida Handwriting';

}

.board_size {

    color: #FF0000;

}

.game_name {

    color: #FF0000;

font-family:'Lucida Handwriting';

}

.main-content {

    color: #FF0000;

}

.Clock {

  color: #FF0000;

}

.Player-rank {

    color: #FF0000;

}​
/* IMAGE */

.image {

width: 20%;

border-radius: 20px;

margin-left: auto;

margin-right: auto;

}

.images {

 width: 7%;

margin-left: auto;

margin-right: auto;

border-radius: 40px;

}
