.ratings-row {

  display:none !important;

}

.container {

  max-width: none !important;

background-image: url('https://raw.githubusercontent.com/FanaroEngineering/fanaro_sabaki_theme_collection/master/screenshots/bluish_purple.png');

}

.avatar-container .Player-username {

font-size: 1.5em;

font-family: "Comic Sans MS", cursive, serif;

color: #FF0000;​

}

.avatar-container .Player .Player-rank {

Color​: #FF0000​;

}

h1 {
  
  font-size: 1.5em;
  
} 

h2 { 

  font-size: 1.5em;
  
} 


h3 {

  font-size: 1.5em;

}  

h4 {

  font-size: 1.8em;

}  

.User .ratings-title {

  font-size: 1.5em;

}  

/* IMAGE */

.image {

width: 20%;

border-radius: 20px;

margin-left: auto;

margin-right: auto;

}

.images {

 width: 7%;

margin-left: auto;

margin-right: auto;

border-radius: 40px;

}
