.ratings-row {
  display:none !important;
}

.container {
  max-width: none !important;
background-image: url('https://raw.githubusercontent.com/FanaroEngineering/fanaro_sabaki_theme_collection/master/screenshots/fire_and_ice.png');
}

.avatar-container .Player-username {
color: #d78cdb;
font-size: 2.5em;
font-family:'Bradley Hand ITC';  
}

.avatar-container .Player-rank {
color: #d78cdb;
font-size: 2.5em;
}

.User .ratings-title {
color: #FF0000;
}

body.dark .TurnIndicator .count {
color: #FF0000;
}

h1 {
   color: #FF0000;
font-family:'Bradley Hand ITC';
  }

h2 {
    color: #FF0000;
font-family:'Bradley Hand ITC'; 
}

h3 {
   color: #FF0000;
   font-family:'Bradley Hand ITC';
}

h4 {
   color: #FF0000;
font-family:'Bradley Hand ITC';
}

.MiniGoban .player-name {
    color: #FF0000;
font-family:'Bradley Hand ITC';
}

.MiniGoban .player-rank {
    color: #FF0000;
}

.MiniGoban .title-black .score {
    color: #FF0000;
}

.MiniGoban .title-white .score {
    color: #FF0000;
}

.user_info {
    color: #FF0000;
 font-family:'Bradley Hand ITC'; 
}

.date {
    color: #FF0000;
}

.Player-username {
    color: #FF0000;
font-family:'Bradley Hand ITC';
}

.board_size {
    color: #FF0000;
}

.game_name {
    color: #FF0000;
font-family:'Bradley Hand ITC';
}

.main-content {
    color: #FF0000;
}

.Clock {
  color: #FF0000;
}


.Player-rank {
    color: #FF0000;
}

/*ANIMATION*/

.about-container h1 {

    color:rgba(247, 163, 38, 0.89);

	/*color:RGBA( 0, 206, 209, 1 );*/   font-family: "Lucida Handwriting", cursive; 

    font-size: 3em;

    position: absolute;

    width: 100%;

    height: 100%;

    /* Starting position */

    -moz-transform:translateX(100%);

    -webkit-transform:translateX(100%);	

    transform:translateX(100%);

    /* Apply animation to this element */	

    -moz-animation: scrolling 15s linear infinite;

    -webkit-animation: scrolling 15s linear infinite;

    animation: scrolling 15s linear infinite;

}

/* Move it (define the animation) */

@-moz-keyframes scrolling {

    0%   { -moz-transform: translateX(100%); }

    100% { -moz-transform: translateX(-100%); }

}

@-webkit-keyframes scrolling {

    0%   { -webkit-transform: translateX(100%); }

    100% { -webkit-transform: translateX(-100%); }

}

@keyframes scrolling {

     0%   { 

        -moz-transform: translateX(100%); /* Firefox bug fix */

        -webkit-transform: translateX(100%); /* Firefox bug fix */

        transform: translateX(100%); 		

    }

    100% { 

        -moz-transform: translateX(-100%); /* Firefox bug fix */

        -webkit-transform: translateX(-100%); /* Firefox bug fix */

        transform: translateX(-100%); 

    }

}
