body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


.ratings-row {
  display:none !important;
}

.container {
  max-width: none !important;
background-image: url('https://raw.githubusercontent.com/FanaroEngineering/fanaro_sabaki_theme_collection/master/screenshots/bluish_purple.png');
}

.avatar-container .Player-username {
  font-size: 2em;
  font-family: "Comic Sans MS", cursive, serif;  
}

.avatar-container .Player .Player-rank {
Color​: #FF0000​;
}

h1 {
  font-size: 2em;
} 

h2 { 
  font-size: 2em;
} 


h3 {
  font-size: 1.5em;
}  

h4 {
  font-size: 2em;
}  

.User .ratings-title {
  font-size: 2em;
} 

h1, h2, h3, {
    animation:rainbowText 2s infinite;
}
@keyframes rainbowText{
    0%   {  color: #FF0900; }
    17%  {  color: #FF7F00; }
    33%  {  color: #FFEF00; }
    50%  {  color: #00F11D; }
    67%  {  color: #0079FF; }
    83%  {  color: #A800FF; }
    100% {  color: #FF0900; }
}
